################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IMS/v16/.suo
/.vs/IMS/DesignTimeBuild/.dtbcache.v2
/.vs/IMS/config/applicationhost.config
/.vs/CoreAngularAppWithJWTAuth/v16/.suo
/.vs/CoreAngularAppWithJWTAuth/DesignTimeBuild/.dtbcache.v2
/InventoryManagementSystem.Data/obj/project.nuget.cache
/InventoryManagementSystem.Data/obj/project.assets.json
/InventoryManagementSystem.Data/obj/InventoryManagementSystem.Data.csproj.nuget.g.targets
/InventoryManagementSystem.Data/obj/InventoryManagementSystem.Data.csproj.nuget.g.props
/InventoryManagementSystem.Data/obj/InventoryManagementSystem.Data.csproj.nuget.dgspec.json
/InventoryManagementSystem.Data/obj/Debug/netstandard2.1/InventoryManagementSystem.Data.pdb
/InventoryManagementSystem.Data/obj/Debug/netstandard2.1/InventoryManagementSystem.Data.dll
/InventoryManagementSystem.Data/obj/Debug/netstandard2.1/InventoryManagementSystem.Data.csprojAssemblyReference.cache
/InventoryManagementSystem.Data/obj/Debug/netstandard2.1/InventoryManagementSystem.Data.csproj.FileListAbsolute.txt
/InventoryManagementSystem.Data/obj/Debug/netstandard2.1/InventoryManagementSystem.Data.csproj.CoreCompileInputs.cache
/InventoryManagementSystem.Data/obj/Debug/netstandard2.1/InventoryManagementSystem.Data.assets.cache
/InventoryManagementSystem.Data/obj/Debug/netstandard2.1/InventoryManagementSystem.Data.AssemblyInfoInputs.cache
/InventoryManagementSystem.Data/obj/Debug/netstandard2.1/InventoryManagementSystem.Data.AssemblyInfo.cs
/InventoryManagementSystem.Data/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/InventoryManagementSystem.Data/bin/Debug/netstandard2.1/InventoryManagementSystem.Data.pdb
/InventoryManagementSystem.Data/bin/Debug/netstandard2.1/InventoryManagementSystem.Data.dll
/InventoryManagementSystem.Data/bin/Debug/netstandard2.1/InventoryManagementSystem.Data.deps.json
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/NSwag.Generation.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/NSwag.Generation.AspNetCore.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/NSwag.Core.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/NSwag.AspNetCore.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/NSwag.Annotations.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/NJsonSchema.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Namotion.Reflection.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.PlatformAbstractions.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Console.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Configuration.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.SpaServices.Extensions.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.SpaServices.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.NodeServices.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/libman.json
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/InventoryManagementSystem.Views.pdb
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/InventoryManagementSystem.Views.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/InventoryManagementSystem.runtimeconfig.json
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/InventoryManagementSystem.runtimeconfig.dev.json
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/InventoryManagementSystem.pdb
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/InventoryManagementSystem.exe
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/InventoryManagementSystem.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/InventoryManagementSystem.deps.json
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/InventoryManagementSystem.Data.pdb
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/InventoryManagementSystem.Data.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/appsettings.json
/InventoryManagementSystem/bin/Debug/netcoreapp3.1/appsettings.Development.json
/InventoryManagementSystem/obj/project.nuget.cache
/InventoryManagementSystem/obj/project.assets.json
/InventoryManagementSystem/obj/InventoryManagementSystem.csproj.nuget.g.targets
/InventoryManagementSystem/obj/InventoryManagementSystem.csproj.nuget.g.props
/InventoryManagementSystem/obj/InventoryManagementSystem.csproj.nuget.dgspec.json
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/staticwebassets/InventoryManagementSystem.StaticWebAssets.xml
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/staticwebassets/InventoryManagementSystem.StaticWebAssets.Manifest.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/Razor/Views/Notifications/EmailConfirmed.cshtml.g.cs
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.Views.pdb
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.Views.dll
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.TagHelpers.output.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.TagHelpers.input.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.RazorTargetAssemblyInfo.cs
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.RazorTargetAssemblyInfo.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.RazorCoreGenerate.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.RazorAssemblyInfo.cs
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.RazorAssemblyInfo.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.pdb
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.MvcApplicationPartsAssemblyInfo.cs
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.MvcApplicationPartsAssemblyInfo.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.genruntimeconfig.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.exe
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.dll
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.csprojAssemblyReference.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.csproj.FileListAbsolute.txt
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.csproj.CoreCompileInputs.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.csproj.CopyComplete
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.assets.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.AssemblyInfoInputs.cache
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/InventoryManagementSystem.AssemblyInfo.cs
/InventoryManagementSystem/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/.vs/IMS/DesignTimeBuild/.dtbcache
/.vs/IMS/v16/Server/sqlite3/storage.ide-wal
/.vs/IMS/v16/Server/sqlite3/storage.ide-shm
/.vs/IMS/v16/Server/sqlite3/storage.ide
/.vs/IMS/v16/Server/sqlite3/db.lock
/.vs/VSWorkspaceState.json
/.vs/SS/v16/.suo
/.vs/slnx.sqlite
